.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hide-img{
    display: none;
}
.show-img{
    display: block;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}